<a href="#" class="list-group-item clearfix">
    <div class="pull-left">
        <h4 class="list-group-item-heading">
            <!-- Recipe Name -->
            {{recipeData.name}}
        </h4>
        <p class="list-group-item-text">
            <!-- Description -->
           {{recipeData.description}}
        </p>
    </div>
    <span class="pull-right">
        <!-- src="{{ recipe.imagePath }}"  -->
        <img 
            [src]="recipeData.imagePath"
            alt="{{recipeData.name}}" 
            class="img-responsive" 
            style="max-height: 50px;">
    </span>
</a>